.categories-container {
    display: flex;
    flex-direction: column;
}

.category-card {
    border: 2px black solid;
    height: 50vh;
    margin: 20px;
    border-radius: 5%;
    background-size: cover;
    background-repeat: no-repeat;
}

.category-card h1 {
    background-color: rgba(255,255,255,0.9);
    margin: 10px;
    border: 2px solid black;
}

.category-card p {
    background-color: rgba(255,255,255,0.9);
    width: fit-content;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;

}

@media only screen and (min-width: 600px) {
    .categories-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 10px 40px
    }

    .category-card {
        width: 500px;
        min-width: 300px;
    }
}